@charset "UTF-8";
 
/* 적용용 CSS @import url("https://raw.githubusercontent.com/explainpark101/hyangTGD/main/sample.css");
 */
/* made by 박설명(explain_park) */
/*내용 */
:root{
  --gradient-first:#CCCCFF;
  --gradient-end:#04523a;
  --first-color:#057F5A;
  --header-color:#6e1f11;
  --header-text-color:white;
  --border-highlight:hsl(162, 92%, 40%);
  --border-highlight-dark:#cd5e43;
  --fa-color:#054d1d;
  --second-color:#367E18;
  --third-color:#187e4b;
  --streamer-color:#6e1f11;
  --search-color:hsl(9, 73%, 28%);
  --article-highlight:#fff5e7;
  --fa-star-color:#e65151;
  --recommend-color:#7eec23;
  --forth-color:#361c03;
  --streamer-name-bottom-border:#e2e2e2;
  --new-article-background:#286090;
  --new-article-border:#204d74;
  --best-article-color:#efc839;
  --footer-color:#b3b3b3;
  --background-color:#deffdd;
}


@font-face {
  font-family: 'ChosunKm';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunKm.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html, body, table, div, p {
  font-family: 'ChosunKm';
}
html, body{
  background: linear-gradient(var(--gradient-first),var(--gradient-end));
  height: auto;
}
body {
  background: transparent;
  height: auto;
  background-image: url('https://explainpark101.github.io/Yangether/snow1.png'),url('https://explainpark101.github.io/Yangether/snow2.png'),url('https://explainpark101.github.io/Yangether/snow3.png');
  -webkit-animation: snow 10s linear infinite;
  -moz-animation: snow 10s linear infinite;
  -ms-animation: snow 10s linear infinite;
  animation: snow 10s linear infinite;
}
/* 트게더 로고 변경 */
header .row > div:nth-child(1) > a {
  display: block;
  height: 50px;
  background: url("https://github.com/explainpark101/hyangTGD/blob/f8e93354a4c89834f7e6940acd8642a4fa16c692/main_logo.png?raw=true") no-repeat;
  /* Logo By ExplainPark, Logo icon by FLUvirus */
  content: unset;
  position: relative;
  top: 10px;
 /* 애니메이션 */
 transform-origin: 80px 50%;
  -webkit-animation: bounceInTop 4s;
  animation: bounceInTop 4s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function:ease-in-out;
  animation-timing-function:ease-in-out;
}
header .row > div:nth-child(1) > a img {
  display: none;
 /*기본 로고 숨김*/
}
@-webkit-keyframes bounceInTop {
  0% {
      -webkit-transform: rotate(2deg);
 }
  25% {
      -webkit-transform: rotate(-2deg);
 }
  50% {
      -webkit-transform: rotate(2deg);
 }
  75% {
      -webkit-transform: rotate(-2deg);
 }
  100% {
      -webkit-transform: rotate(2deg);
 }
}
@keyframes bounceInTop {
  0% {
      transform: rotate(2deg);
 }
  25% {
      transform: rotate(-2deg);
 }
  50% {
      transform: rotate(2deg);
 }
  75% {
      transform: rotate(-2deg);
 }
  100% {
      transform: rotate(2deg);
 }
}
/* 로고밑 NAV bar */
header #header-bar>.row {
  border: 3px solid var(--header-color) !important;
  background-color: var(--header-color);
  color: var(--header-text-color);
  border-radius: 5px;
}
/* 광고 글자 색상 */
header #header-bar #header-top-notice, header #header-bar #header-top-notice a{
  color:var(--header-text-color);
}

/* 검색폼 보더 */
header #right-search-form>input[type='text'] {
  border: 2px solid #fff;
  border-radius: 13px;
}
/* 헤더 검색 버튼 */
header #right-search-form>#right-search-btn {
  color: var(--search-color);
}
/* 헤더 글씨 색상 */
header #header-bar a.dropdown-toggle{
  color:var(--header-text-color);
}

/* 유저 프로필 이미지 원형화 */
header #header-bar #header-menu-right #userDropdown img.profile-img {
  border-radius: 50%;
  border: 2px dashed var(--border-highlight);
}
/* 알림 뱃지 색상 */
header #header-bar #header-menu-right #userDropdown #notification-badge{
  background: var(--border-highlight-dark);
  color:black;
}
/* 트게더 전체메뉴 / 유용한링크 / 트위치 스케쥴 */
#main .menu-wrapper>.header {
  background: var(--first-color);
  border: 3px solid var(--first-color) !important;
  border-radius: 10px 10px 0 0;
}
/* 아래 빈 줄 삭제 */
element.style {
  display: none;
}
#main .menu-wrapper a:nth-last-child(1) {
  border-radius: 0px 0px 15px 15px;
}
#main .menu-wrapper{
  border-bottom: none;
  border-right: none;
}
#main .menu-wrapper .spacer{
  height: 0em;
}
.fa-navicon:before, .fa-reorder:before{
  color: var(--fa-color);
}
#main .menu-wrapper>a>em, #main .menu-wrapper>a>i.fa.fa-square{
  color: var(--fa-color);
}
/* 메인 글 테두리 색상 */
#main #main-content>div.frame{
  border-radius: 10px;
}
/*프로필*/
#board-info{
  height: auto;
}
#board-info #board-info-profile-img{
  width: 6.5em;
  background:none;
  border:2px dashed var(--fa-color);
  border-radius:50%;
  float: left !important;
  position: relative;
  top: 1px;
  left: -5px;
}
#board-info h1{
  padding-top: 18px;
  padding-bottom: 4px;
  border-bottom: 2px dashed var(--streamer-name-bottom-border);
}
#board-info h1>a{
  color:var(--streamer-color);
}
#board-info #viewers-area{
  color: var(--streamer-color)cc;
}
#board-info #viewers-area .fa-user:before{
  content: url('https://static-cdn.jtvnw.net/badges/v1/a078bb77-4cce-49e0-9c5e-838b5caee09b/1');
  font-size: 16px;
  position: relative;
  top: 5px;
  cursor: text 
}
#board-info #viewers-area #viewers:before {
  content: "고얀놈 ";
  cursor: text;
}
#board-info #viewers-area #viewers:after {
  content: "명이 상소중이오";
  cursor: text;
}
/* 스트리머 이름 호버 색상 변경 */
#board-info h1>a:hover, #board-info h1>a:focus {
  color: var(--randomColor);
  transition: 0.2s;
}
/* board-info 버튼 호버 이펙트 */
#board-info>#board-info-bottom>:hover {
  transform: scale(1.05);
  color: black;
  text-decoration: underline;
}
/*즐찾,소개,채널,클립*/
#board-info #board-info-bottom{
  padding-top: 6px;
}
#board-info #board-info-bottom a{
  color: var(--streamer-color);
}
/* 카테고리 색상 변화 */
#article-list #article-list-category {
  background: transparent;
  border: none;
  margin-top: 2px;
  margin-bottom: 2px;
}
#article-list #article-list-category>a {
  background: transparent;
  position: relative;
  padding: 9px 15.7px;
 /* 카테고리 선택자 사이 여백 조정 */
}
#article-list #article-list-category>a::before {
  top: 0;
}
#article-list #article-list-category>a::after {
  bottom: 0;
}
#article-list #article-list-category>a.nav-link::before, #article-list #article-list-category>a.nav-link::after {
  height: 2px;
  width: 100%;
  background: currentColor;
  content: "";
  position: absolute;
  left: 0px;
  transform: scaleX(0);
  transition: 0.3s;
}
#article-list #article-list-category>a.nav-link:hover::before, #article-list #article-list-category>a.nav-link:hover::after {
  transform: scaleX(1);
}
/*메인메뉴*/
#article-list{
  padding:0 0em 2em;
}
#article-list #article-list-category{
  border-top: none;
  background: #fff;
  border-radius: 20px;
  margin-bottom: 10px;
}

#article-list #article-list-category.can-float>a.active, #article-list #article-list-category.can-float>a:hover,#article-list #article-list-category.can-float>a {
  background: none;
  cursor:pointer;
}
#article-list #article-list-category.can-float{
  border:1px solid var(--border-highlight);
  border-radius: 5px;
}
.fa-home{
  color: var(--fa-color);
}
#article-list #article-option-area>#article-option-area-toggle-btn{
  position: absolute;
  right: 14px;
  top: 2px;
  border-radius: 10px;
  background: none;
}
/* 게시글 */
#article-list>.article-list-row{
  background: transparent;
  border: none;
  margin-top: -2px;
  margin-bottom: -2px;
}
#article-list>.article-list-row{
  background: transparent;
  /* position: relative; */
 /*** padding: 9px 15.7px;
  ***/
 /* 카테고리 선택자 사이 여백 조정 */
}
#article-list>.article-list-row ::after {
  bottom: 0;
}
#article-list>.article-list-row::after,#article-list>.article-list-row::before {
  height: 2px;
  width: 100%;
  background: var(--third-color);
  content: "";
  position: absolute;
  left: 0px;
  transform: scaleX(0);
  transition: 0.3s;
}
#article-list>.article-list-row:hover::after, #article-list>.article-list-row:hover::before {
  transform: scaleX(1);
}
#article-list>.article-list-row.notice:hover::after, #article-list>.article-list-row.notice:hover::before {
  transform: scaleX(0) !important;
}
/* 읽은 글 색상 변경 */
#article-list>.article-list-row>.item>.list-title>a:visited {
  color:grey !important;
}
/*공지사항*/
#article-list>.article-list-row.notice{
  background-color: var(--article-highlight);
  border-radius: 10px;
  margin-bottom: 2px;
}
#article-list>.article-list-row.notice:hover{
  background-color: var(--third-color);
  transition: 0.3s ease-in-out;
}
#article-list>.article-list-row>.item>.list-checkbox, #article-list>.article-list-row>.item>.list-header, #article-list>.article-list-row>.item>.list-category, #article-list>.article-list-row>.item>.list-title, #article-list>.article-list-row>.item>.list-blocked, #article-list>.article-list-row>.item>.list-time{
  border-bottom:none;
}
span.a-badge i.fa.fa-info-circle{
  color: var(--fa-color);
}
/*인기글*/
#article-list>.article-list-row.hot{
  background-color: var(--article-highlight);
  border-radius: 10px;
}
#article-list>.article-list-row.hot:hover{
  background-color: var(--third-color);
  transition: 0.3s ease-in-out;
}
span.a-badge i.fa.fa-star{
  color: var(--fa-star-color);
  animation: animationFrames ease-in-out 2s infinite;
  -webkit-animation: animationFrames ease-in-out 2s infinite;
  -moz-animation: animationFrames ease-in-out 2s infinite;
  -o-animation: animationFrames ease-in-out 2s infinite;
  -ms-animation: animationFrames ease-in-out 2s infinite;
}
.fa-heart:before {
  /* content: url(https://archive.ph/nx1Df/5bc21358f013f7a65906c4b4d107d0bdc0f6487a.gif); */
  position: relative;
  top: -2px;
  display: inline-block;
}
/*기본글*/
#article-list>.article-list-row{
  border: none;
}
#article-list>.article-list-row>.item>.list-title>.list-category{
  border: none;
}
#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span{
  color: var(--streamer-color);
}
/* 추천수 색깔 */
#article-list>.article-list-row>.item>.list-header>span{
  background-color: var(--recommend-color);
  padding: 3px 5px 3px 5px;
  border-radius: 50%;
}
#article-list>.article-list-row>.item>.list-title>small.comment-count{
  color: var(--forth-color);
}

/* 글 안*/
#article-content-wrapper>.header{
  border-top: var(--forth-color);
  background: var(--background-color);
}
#article-reply-area > .header h5{
  color: var(--streamer-color);
}
#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged, #article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged{
  color: var(--streamer-color);
}
.fr-toolbar{
  border-color: var(--fa-color);
  color: var(--fa-color);
  background: #fff;
}
.pull-right{
  background-color: var(--second-color);
  border-color: var(--second-color);
  border-radius: 10px;
}
/*글쓰기 라디오스*/
#article-list #article-list-menu>.btn.write{
  border-radius: 10px;
}
/*윗글아랫글 색상*/
#article-neighbor-list{
  color: var(--forth-color);
}
#article-list #article-list-menu>.btn.best{
  border-radius: 10px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
  background-color: var(--streamer-color);
  border-color: var(--streamer-color);
  border-radius: 2px;
}
.pagination>li>a, .pagination>li>span, .pagination>li>a, .pagination>li>span:hover{
  color: var(--streamer-color);
}
/* 글쓰기 버튼 색상 */
#article-list #article-list-menu>.btn.write{
  background-color: var(--second-color);
  border-color: var(--second-color);
  border-radius: 10px;
}
#article-list #article-list-menu>.btn.write:hover {
  color: #fff;
  background-color: var(--new-article-background);
  border-color: var(--new-article-border);
}
#article-list #article-list-menu>.btn.cog{
  border-radius: 10px;
}
#article-list #article-list-menu>.btn.del{
  border-radius: 10px;
}
/* 인기글 버튼 색상 */
#article-list #article-list-menu>.btn.best:hover {
  border-radius: 10px;
  background-color: var(--best-article-color);
  color:#fff;
  border-color: var(--best-article-color);
}
/* footer */
footer,a{
  color: var(--footer-color);
}
footer>.container>span::after{
  white-space: pre;
  content:"\a\a\a CSS by 박설명\aLogo Icon by FLUvirus\amoveTop image by DoranKiwi";
}

#article-list>.article-list-row {
  border-right: none;
}
#article-list #article-list-menu {
  box-sizing: border-box;
  width: unset;
  margin: 20px;
}
#article-list #boardSearchForm {
  padding-bottom: 20px;
  height: unset;
}
/* 위로 */
#movetotop img {
  display:none 
}
#movetotop {
  display: inline-block;
  opacity:1;
  background: url("https://cdn.discordapp.com/attachments/1015627605812187139/1019249780259553362/sss.png");
  /* 이미지 출처 : DoranKiwi */
  width: 105px;
  height: 167px;
  background-size: contain;
}
/*마우스 포인터*/
*{
  cursor: url(https://explainpark101.github.io/Yangether/mouse.png) 0 0, auto !important;
}
#aw0{
  cursor: url(https://explainpark101.github.io/Yangether/mouse.png) 0 0, auto !important;
}
/* 모든 항목 focus시 아웃라인 제거 */
*:focus {
  outline: none !important;
}
/*애니메이션*/
@keyframes animationFrames{
  0% {
      opacity:1;
 }
  50% {
      opacity:0;
 }
  100% {
      opacity:1;
 }
}
@-moz-keyframes animationFrames{
  0% {
      opacity:1;
 }
  50% {
      opacity:0;
 }
  100% {
      opacity:1;
 }
}
@-webkit-keyframes animationFrames {
  0% {
      opacity:1;
 }
  50% {
      opacity:0;
 }
  100% {
      opacity:1;
 }
}
@-o-keyframes animationFrames {
  0% {
      opacity:1;
 }
  50% {
      opacity:0;
 }
  100% {
      opacity:1;
 }
}
@-ms-keyframes animationFrames {
  0% {
      opacity:1;
 }
  50% {
      opacity:0;
 }
  100% {
      opacity:1;
 }
}
/* 눈 내리는 효과 설정 CSS 파일 맨 아래에 추가*/
@keyframes snow {
  0% {
     background-position: 0px 0px, 0px 0px, 0px 0px;
 }
  100% {
     background-position: 500px 1000px, 400px 400px, 300px 300px;
 }
}
@-moz-keyframes snow {
  0% {
     background-position: 0px 0px, 0px 0px, 0px 0px;
 }
  100% {
     background-position: 500px 1000px, 400px 400px, 300px 300px;
 }
}
@-webkit-keyframes snow {
  0% {
     background-position: 0px 0px, 0px 0px, 0px 0px;
 }
  50% {
 }
  100% {
     background-position: 500px 1000px, 400px 400px, 300px 300px;
 }
}
@-ms-keyframes snow {
  0% {
     background-position: 0px 0px, 0px 0px, 0px 0px;
 }
  100% {
     background-position: 500px 1000px, 400px 400px, 300px 300px;
 }
}
